server:
  port: 8084
spring:
  application:
    name: msvc-cart
  datasource:
    url: jdbc:mysql://localhost:3306/infinitecraft_db?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: 
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  cloud:
    discovery:
      enabled: false

# Product microservice URL
product:
  service:
    url: http://fotomarwmsdb.ddns.net:8083

