server:
  port: 8081
spring:
  application:
    name: msvc-authentication
  datasource:
    url: jdbc:mysql://localhost:3306/infinitecraft_db?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: 
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  cloud:
    discovery:
      enabled: false

# User microservice URL
user:
  service:
    url: http://fotomarwmsdb.ddns.net:8082

# Disable Eureka
eureka:
  client:
    enabled: false
    register-with-eureka: false
    fetch-registry: false

# Disable Ribbon
ribbon:
  eureka:
    enabled: false
